{% extends 'base.html' %}

{% block head %}
<!-- Add these links to your head section -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<title>Music</title>

{% endblock head %}

{% block body %}
<br>
<h5 style = "text-align: center; font-family: serif;"><i>Music has the power to turn the volume down on sadness, letting the soul find solace in its healing melodies. Check out these calming music videos</i></h5>
  <br>
  <div class="row justify-content-md-center">
    <div class="col-md-3 mx-4">
      <div class="card mb-4 shadow-sm" style="width:400px !important">
        <iframe height="300" src="https://www.youtube.com/embed/BVAw2eDQWf0" title="Insomnia Healing, Release of Melatonin and Toxin, Instant Relaxation - Healing Sleep Music" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="card-body">
          <p class="card-text" style= "text-align: center">Music that will help you get better sleep</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mx-4">
      <div class="card mb-4 shadow-sm" style="width:400px !important">
        <iframe height="300" src="https://www.youtube.com/embed/79kpoGF8KWU" title="Instant Relief from Stress and Anxiety | Detox Negative Emotions, Calm Nature Healing Sleep Music★58" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><div class="card-body">
          <p class="card-text" style= "text-align: center">Music to relieve stress and anxiety</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mx-4">
      <div class="card mb-4 shadow-sm" style="width:400px !important">
        <iframe height="300" src="https://www.youtube.com/embed/hlWiI4xVXKY" title="Sunny Mornings: Beautiful Relaxing Music • Peaceful Piano Music &amp; Guitar Music by Peder B. Helland" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><div class="card-body">
          <p class="card-text" style= "text-align: center">Music to help you relax and find peace</p>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}