{% extends 'base.html' %}

{% block head %}
<!-- Add these links to your head section -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<title>Yoga and Meditation</title>

{% endblock head %}

{% block body %}
<br>
<h5 style = "text-align: center; font-family: serif;"><i>Engaging in yoga can be a powerful tool to help manage depression. It combines physical activity with mindfulness and deep breathing, which can positively impact your mental well-being. Yoga has been shown to reduce stress, improve mood, and promote a sense of calm. Even starting with a few gentle poses or a short session can make a difference. Give it a try, and let the practice guide you towards a more balanced and peaceful state of mind.</i></h5>
  <br>
  <div class="row justify-content-md-center">
    <div class="col-md-3 mx-4">
      <div class="card mb-4 shadow-sm" style="width:400px !important">
        <iframe  height="300" src="https://www.youtube.com/embed/ri9B8IzLXIY" title="Sukhasana, cross-legged seating posture in Yogasana" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="card-body">
          <p class="card-text" style= "text-align: center"> Although many might not think of it as a yoga pose, easy pose can actually be a powerful tool for regaining the confidence you need to deal with anxiety, depression, and chronic stress. Here, the base of your spine connects to the earth, helping you feel deeply grounded. The symmetry of this posture also centers you. </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mx-4">
      <div class="card mb-4 shadow-sm" style="width:400px !important">
        <iframe height="300" src="https://www.youtube.com/embed/EC7RGJ975iM" title="How to do Downward Dog | Adho Mukha Svanasana Tutorial with Dylan Werner" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="card-body">
          <p class="card-text" style= "text-align: center">In addition to lengthening your spine and strengthing your arms, shoulders, and legs, it also increases blood flow to your brain. By amping up our circulation to this area, we can experience greater energy and mental clarity, helping us deal with issues that cause us stress or anxiety.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mx-4">
      <div class="card mb-4 shadow-sm" style="width:400px !important">
        <iframe height="300" src="https://www.youtube.com/embed/cQtfujS-BhY" title="How to do Upward Facing Dog - Urdhva Mukha Svanasana" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="card-body">
          <p class="card-text" style= "text-align: center">Another excellent pose for handling anxiety and depression is upward-facing dog pose. This position opens your heart, helping you remove any pent-up emotions in your chest. It also works to regulate the respiratory system, bringing clarity to your heart and mind.</p>
        </div>
      </div>
    </div>
  </div>
  
{% endblock body %}